<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <title>Mi Tienda Online</title>
  </head>
  <body>
    <!-- Aquí va tu código -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Mi Tienda Online</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/src/view/Productos.ejs">Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/src/view/Categorias.ejs">Categorias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/src/view/Compras.ejs">Compras</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/src/view/Favoritos.ejs">Favoritos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>
